<% if(objProduct.stoked){ %>
  <div class="master-holder-product" id='box-<%=objProduct._id %>' onmouseleave="hiddenPopProduct(this)">
    <div class="product-box">
      <% if(place=="shope" ){%>
        <div onclick="window.location.pathname='/shop/<%=objProduct._id %>'">
          <% }else if(place=='home' ){ %>
            <div onclick="window.location.href=`${window.location.origin}/shop?<%= objProduct._id%>`">
              <% } %>
                <img src="<%=objProduct.imgSrc %>" alt="product image">
                <div class="details"><span>Cera</span>
                  <h5>Cartoon Astronaut <%= objProduct.name %>
                  </h5>
                  <div class="stars">
                    <% for (let k=0; k < objProduct.stars; k++) {%>
                      <i class="fa-solid fa-star"></i>
                      <% } %>
                  </div>
                  <h4>$<%= objProduct.price %>
                  </h4>
                </div>
            </div>
            <div class="product-box-icons">
              <div>
                <i class="fa-regular fa-heart love" onclick="quickAddLove(this)"></i>
              </div>
              <% const id=(objProduct._id).toString() %>
                <% const index=user.cart.products.findIndex((obj)=>obj.product._id==id) %>
                  <%if(index!==-1){%>
                    <div class="remove-product-pop" onclick="quickRemoveProduct(this,'<%= objProduct._id %>')">
                      <i class="fa-solid fa-cart-shopping cart"></i>
                    </div>
                    <% }else{ %>
                      <div class="add-product-pop" onmouseover="showPopProduct(this)">
                        <i class="fa-solid fa-cart-plus cart"></i>
                      </div>
                      <% } %>
            </div>
        </div>
        <div class="product-pop product">
          <div class="size-count text">
            <span class="errors"></span>
            <select id="select-input">
              <option value="XL">XL</option>
              <option value="L">L</option>
              <option value="M">M</option>
              <option value="S">S</option>
            </select>
            <input id="count-product" type="text" maxlength="1" value="1" onkeypress="return onlyNumbers(event)">
            <button id="cart-shop" class="normal pop" onclick="quickAddProduct(this,'<%=objProduct._id%>')">Add</button>
          </div>
        </div>
    </div>
    <% }else{ %>
      <div class="product-box notStock">
        <img src="../<%=objProduct.imgSrc %>" alt="product image">
        <div style="color:red; font-weight:600;">It will be soon</div>
        <div class="details"><span>Cera</span>
          <h5>Cartoon Astronaut <%= objProduct.name %>
          </h5>
          <div class="stars">
            <% for (let k=0; k < objProduct.stars; k++) {%>
              <i class="fa-solid fa-star"></i>
              <% } %>
          </div>
          <h4>$<%= objProduct.price %>
          </h4>
        </div>
        <div class="product-box-icons">
          <div> <i class="fa-regular fa-heart love"></i></div>
          <div> <i class="fa-solid fa-cart-plus cart"></i></div>
        </div>
      </div>
      <% } %>