<%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') -%>
      <%- include('../partials/flashMsg.ejs') -%>

        <div class="main-sec-about holder-image">
          <div class="container">
            <h2>Read More</h2>
          </div>
        </div>
        <div class="main-about">
          <div class="container">
            <div class="img-date">
              <img src="https://firebasestorage.googleapis.com/v0/b/cera-1d79c.appspot.com/o/about%2Fa6.jpg?alt=media&token=98d46713-5269-4b13-9855-cd630291e208" alt="">
            </div>
            <div class="text">
              <h2>Who we are?</h2>
              <h6>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta a veritatis asperiores harum explicabo
                iure,
                officia, neque facilis enim omnis, unde saepe rem vel! Molestiae veniam debitis incidunt eveniet sint.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore minima accusamus, soluta vero ex vitae
                cum
                veritatis hic earum omnis magni deserunt sint voluptas ullam pariatur repellendus consectetur debitis
                inventore!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ducimus quae vero, reiciendis nobis quas
                officia
                tenetur deserunt placeat rem quos, inventore modi aperiam iste possimus consequatur, veritatis nihil
                nam.
              </h6>
              <abbr title="">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et vero repellat saepe ducimus fugit
                cupiditate.
              </abbr>
              <br><br>
              <marquee behavior="" direction="">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</marquee>

            </div>
          </div>
        </div>
        <div class="about-app">
          <div class="container">
            <h2>Download our <a href="#">App</a></h2>
            <div class="vidoe-app">
              <video autoplay muted loop src="https://firebasestorage.googleapis.com/v0/b/cera-1d79c.appspot.com/o/about%2F1.mp4?alt=media&token=431ea082-7ccb-4252-ad5d-7a01dd18afee"></video>
            </div>
          </div>
        </div>
        <div class="features">
          <div class="container boxs">
            <div>
              <img src="https://firebasestorage.googleapis.com/v0/b/cera-1d79c.appspot.com/o/features%2Ff1.png?alt=media&token=ca16fc03-3d27-4e77-b1db-7d69e34f0fcd" alt="photo">
              <h6>Free Shopping</span>
            </div>
            <div>
              <img src="https://firebasestorage.googleapis.com/v0/b/cera-1d79c.appspot.com/o/features%2Ff2.png?alt=media&token=50801cb1-0b6a-4355-b754-089fd7d6a5a9" alt="photo">
              <h6>Online order</span>
            </div>
            <div>
              <img src="https://firebasestorage.googleapis.com/v0/b/cera-1d79c.appspot.com/o/features%2Ff3.png?alt=media&token=816de261-fac2-4e33-9b07-a78dc3b84449" alt="photo">
              <h6>Save Money</span>
            </div>
            <div>
              <img src="https://firebasestorage.googleapis.com/v0/b/cera-1d79c.appspot.com/o/features%2Ff4.png?alt=media&token=684970d9-4d8e-4524-90b4-c32e88a4996c" alt="photo">
              <h6>Promotions</span>
            </div>
            <div>
              <img src="https://firebasestorage.googleapis.com/v0/b/cera-1d79c.appspot.com/o/features%2Ff5.png?alt=media&token=7a09b709-59b6-4eee-888f-3a7b2d90156d" alt="photo">
              <h6>Happy Sell</span>
            </div>
            <div>
              <img src="https://firebasestorage.googleapis.com/v0/b/cera-1d79c.appspot.com/o/features%2Ff6.png?alt=media&token=9ffb2c08-c5f9-4b5b-aa52-8fc78669a5cd" alt="photo">
              <h6>F24/7 Support</span>
            </div>
          </div>
        </div>
        <%- include('../partials/footer.ejs') %>
          <%- include('../partials/scripting.ejs') %>
  </body>

  </html>