<!DOCTYPE html>
<%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') -%>
      <%- include('../partials/flashMsg.ejs') -%>

        <div class="main-sec-blog holder-image">
          <div class="container">
            <h2>Read More</h2>
          </div>
        </div>
        <div class="main-blog">
          <div class="container">
            <div class="img-date">
              <h2>13/04</h2>
              <img src="imgs/blog/b1.jpg" alt="" />
            </div>
            <div class="text">
              <h3>The Cotton-Jersey Zip-Up Hoodie</h3>
              <h6>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta a
                veritatis asperiores harum explicabo iure, officia, neque facilis
                enim omnis, unde saepe rem vel! Molestiae veniam debitis incidunt
                eveniet sint.
              </h6>
              <span>Continue reading </span>
            </div>
          </div>
          <div class="container">
            <div class="img-date">
              <h2>12/05</h2>
              <img src="imgs/blog/b2.jpg" alt="" />
            </div>
            <div class="text">
              <h3>The Cotton-Jersey Zip-Up Hoodie</h3>
              <h6>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta a
                veritatis asperiores harum explicabo iure, officia, neque facilis
                enim omnis, unde saepe rem vel! Molestiae veniam debitis incidunt
                eveniet sint.
              </h6>
              <span>Continue reading </span>
            </div>
          </div>
          <div class="container">
            <div class="img-date">
              <h2>14/07</h2>
              <img src="imgs/blog/b3.jpg" alt="" />
            </div>
            <div class="text">
              <h3>The Cotton-Jersey Zip-Up Hoodie</h3>
              <h6>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta a
                veritatis asperiores harum explicabo iure, officia, neque facilis
                enim omnis, unde saepe rem vel! Molestiae veniam debitis incidunt
                eveniet sint.
              </h6>
              <span>Continue reading </span>
            </div>
          </div>
          <div class="container">
            <div class="img-date">
              <h2>08/04</h2>
              <img src="imgs/blog/b4.jpg" alt="" />
            </div>
            <div class="text">
              <h3>The Cotton-Jersey Zip-Up Hoodie</h3>
              <h6>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta a
                veritatis asperiores harum explicabo iure, officia, neque facilis
                enim omnis, unde saepe rem vel! Molestiae veniam debitis incidunt
                eveniet sint.
              </h6>
              <span>Continue reading </span>
            </div>
          </div>
          <div class="container">
            <div class="img-date">
              <h2>09/05</h2>
              <img src="imgs/blog/b6.jpg" alt="" />
            </div>
            <div class="text">
              <h3>The Cotton-Jersey Zip-Up Hoodie</h3>
              <h6>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta a
                veritatis asperiores harum explicabo iure, officia, neque facilis
                enim omnis, unde saepe rem vel! Molestiae veniam debitis incidunt
                eveniet sint.
              </h6>
              <span>Continue reading </span>
            </div>
          </div>
          <div class="container">
            <div class="img-date">
              <h2>16/04</h2>
              <img src="imgs/blog/b5.jpg" alt="" />
            </div>
            <div class="text">
              <h3>The Cotton-Jersey Zip-Up Hoodie</h3>
              <h6>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta a
                veritatis asperiores harum explicabo iure, officia, neque facilis
                enim omnis, unde saepe rem vel! Molestiae veniam debitis incidunt
                eveniet sint.
              </h6>
              <span>Continue reading </span>
            </div>
          </div>
          <div class="container">
            <div class="img-date">
              <h2>20/12</h2>
              <img src="imgs/blog/b7.jpg" alt="" />
            </div>
            <div class="text">
              <h3>The Cotton-Jersey Zip-Up Hoodie</h3>
              <h6>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta a
                veritatis asperiores harum explicabo iure, officia, neque facilis
                enim omnis, unde saepe rem vel! Molestiae veniam debitis incidunt
                eveniet sint.
              </h6>
              <span>Continue reading </span>
            </div>
          </div>
        </div>
        <%- include('../partials/footer.ejs') %>
          <%- include('../partials/scripting.ejs') %>
  </body>
  </html>