<!DOCTYPE html>
<%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') -%>
      <%- include('../partials/flashMsg.ejs') -%>

        <div class="main-sec-blog holder-image">
          <div class="container">
            <h2>Read More</h2>
          </div>
        </div>
        <div class="main-blog">
          <div class="container">
            <div class="img-date">
              <h2>13/04</h2>
              <img src="https://firebasestorage.googleapis.com/v0/b/cera-1d79c.appspot.com/o/blog%2Fb1.jpg?alt=media&token=2c7f67fb-88ee-49bc-b4e0-c5704b372d65" alt="" />
            </div>
            <div class="text">
              <h3>The Cotton-Jersey Zip-Up Hoodie</h3>
              <h6>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta a
                veritatis asperiores harum explicabo iure, officia, neque facilis
                enim omnis, unde saepe rem vel! Molestiae veniam debitis incidunt
                eveniet sint.
              </h6>
              <span>Continue reading </span>
            </div>
          </div>
          <div class="container">
            <div class="img-date">
              <h2>12/05</h2>
              <img src="https://firebasestorage.googleapis.com/v0/b/cera-1d79c.appspot.com/o/blog%2Fb2.jpg?alt=media&token=3be6558b-6256-44c8-9ff2-15b08c77b4e9" alt="" />
            </div>
            <div class="text">
              <h3>The Cotton-Jersey Zip-Up Hoodie</h3>
              <h6>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta a
                veritatis asperiores harum explicabo iure, officia, neque facilis
                enim omnis, unde saepe rem vel! Molestiae veniam debitis incidunt
                eveniet sint.
              </h6>
              <span>Continue reading </span>
            </div>
          </div>
          <div class="container">
            <div class="img-date">
              <h2>14/07</h2>
              <img src="https://firebasestorage.googleapis.com/v0/b/cera-1d79c.appspot.com/o/blog%2Fb3.jpg?alt=media&token=7a503534-fc5b-4e3d-b69c-4113b0dc176b" alt="" />
            </div>
            <div class="text">
              <h3>The Cotton-Jersey Zip-Up Hoodie</h3>
              <h6>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta a
                veritatis asperiores harum explicabo iure, officia, neque facilis
                enim omnis, unde saepe rem vel! Molestiae veniam debitis incidunt
                eveniet sint.
              </h6>
              <span>Continue reading </span>
            </div>
          </div>
          <div class="container">
            <div class="img-date">
              <h2>08/04</h2>
              <img src="https://firebasestorage.googleapis.com/v0/b/cera-1d79c.appspot.com/o/blog%2Fb4.jpg?alt=media&token=015eb59c-b833-46ff-b470-c7ccab2a6ad3" alt="" />
            </div>
            <div class="text">
              <h3>The Cotton-Jersey Zip-Up Hoodie</h3>
              <h6>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta a
                veritatis asperiores harum explicabo iure, officia, neque facilis
                enim omnis, unde saepe rem vel! Molestiae veniam debitis incidunt
                eveniet sint.
              </h6>
              <span>Continue reading </span>
            </div>
          </div>
          <div class="container">
            <div class="img-date">
              <h2>09/05</h2>
              <img src="https://console.firebase.google.com/project/cera-1d79c/storage/cera-1d79c.appspot.com/files/~2Fblog" alt="" />
            </div>
            <div class="text">
              <h3>The Cotton-Jersey Zip-Up Hoodie</h3>
              <h6>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta a
                veritatis asperiores harum explicabo iure, officia, neque facilis
                enim omnis, unde saepe rem vel! Molestiae veniam debitis incidunt
                eveniet sint.
              </h6>
              <span>Continue reading </span>
            </div>
          </div>

        </div>
        <%- include('../partials/footer.ejs') %>
          <%- include('../partials/scripting.ejs') %>
  </body>
  </html>