<%- include('../partials/head.ejs') -%>
  <body>
    <%- include('../partials/header.ejs') -%>
      <%- include('../partials/flashMsg.ejs') -%>
        <div class="main-sec-home" id="main">
          <div class="container">
            <h4>Trade-in-offer</h4>
            <h2>Super value dales</h2>
            <h1>On all Products</h1>
            <p>Save more coupons & up to 70% off!</p>
            <button onclick="window.location.pathname='shop'">Shop Now</button>
          </div>
        </div>
        <div class="features">
          <div class="container boxs">
            <div>
              <img src="imgs/features/f1.png" alt="photo">
              <h6>Free Shopping</span>
            </div>
            <div>
              <img src="imgs/features/f2.png" alt="photo">
              <h6>Online order</span>
            </div>
            <div>
              <img src="imgs/features/f3.png" alt="photo">
              <h6>Save Money</span>
            </div>
            <div>
              <img src="imgs/features/f4.png" alt="photo">
              <h6>Promotions</span>
            </div>
            <div>
              <img src="imgs/features/f5.png" alt="photo">
              <h6>Happy Sell</span>
            </div>
            <div>
              <img src="imgs/features/f6.png" alt="photo">
              <h6>F24/7 Support</span>
            </div>
          </div>
        </div>
        <div class="feature product01">
          <h2>Feature Products</h2>
          <p>Summer Collection New Modern design</p>
          <div class="container boxs">
            <% for (let i=0; i < featureProd.length; i++) {%>
              <%- include('../partials/product.ejs',{objProduct:featureProd[i],place:"home"}) %>
                <% }%>
          </div>
        </div>

        <div class="banner">
          <h4>Repair Services</h4>
          <h2>Up to <span>70% off</span> -All T-Shirts & Accessories</h2>
          <button class="normal">Explore More</button>
        </div>
        <div class="arrivals product01">
          <h2> New Arrivals</h2>
          <p>Summer Collection New Modern design</p>
          <div class="container boxs">
            <% for (let i=0; i < newProd.length; i++) {%>
              <%- include('../partials/product.ejs',{objProduct:newProd[i],place:"home"}) %>
                <% }%>
          </div>
        </div>
        <%- include('../partials/footer.ejs') %>
          <%- include('../partials/scripting.ejs') %>
  </body>
  <script>
    observe.left()

  </script>

  </html>