<%- include('../partials/head.ejs') %>

  <% const cartProducts=user.cart.products; let total=0; for(let i=0;i<cartProducts.length;i++){
    total+=cartProducts[i].product.price*cartProducts[i].count } %>

    <body>
      <%- include('../partials/flashMsg.ejs') -%>
        <div class="main-payment">
          <div class="payment">
            <div class="heade-holder">
              <div class="text">
                <h2>Pay Securely</h2>
              </div>
              <div class="img-price">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/cera-1d79c.appspot.com/o/logo%2Flogo.png?alt=media&token=d411f5f0-91aa-44ff-a166-c86033169358&_gl=1*qn99tq*_ga*Njk0MTExMjMzLjE2OTc4MzQzODA.*_ga_CW55HF8NVT*MTY5Nzg3MTU5Mi4yLjEuMTY5Nzg3Mzk3OC4zOS4wLjA."
                  alt="">
                <div class="total-price">
                  Total:<span class="total"> $<%=total%></span>
                </div>
              </div>
            </div>
            <div class="holder">
              <div class="information">
                <div class="carde-info  div-click">
                  <h4>Credit Card</h4>
                  <div class="holed" onclick="cardPop()">
                    <div> ENTER CARD NUMBER </div>
                    <div>
                      <img src="https://secure-media.hotstarext.com/web-assets/prod/images/dc-sg-card-icons.svg" alt="">
                    </div>
                  </div>
                </div>
                <div class="place-info div-click">
                  <h4>Delivery Location</h4>
                  <div class="holed" onclick="locationPop()">
                    <div> ENTER DELIVERY LOCATION</div>
                    <div>
                      <i class="fa-solid fa-location-dot"></i>
                    </div>
                  </div>
                </div>
                <footer>
                  <p>
                    Subscription will automatically renew at the then current annual price. Ts and Cs apply.
                    By Proceeding, I confirm that I meet the minimum age requirements, and I agree to the Subscriber
                    Agreement
                    and
                    <a href="">Privacy Policy</a>
                  </p>
                </footer>
              </div>
            </div>
            <div class="credit-card popup hidden">
              <div class="inf">
                <div class="bs-header">LOCATION</div>
                <form action="" method="post">
                  <div>
                    <input id="carde-number" name="Card Number" maxlength="19" type="text" required
                      placeholder="XXXX XXXX XXXX XXXX" onkeypress="return cardedSpace(event.key,this)"
                      oninput="checkCardNumbers(this.value)" />


                    <label for="carde-number">Card Number</label>
                    <span id="error-carde">Please enter a valid Card Number</span>
                    <img id="visa-img" src="">
                  </div>
                  <div class="row-input">
                    <div>
                      <input name="buyer's City" id="carde-date" maxlength="5" type="text" required placeholder="MM/YY"
                        onkeypress="return isNaN(event.key)?false:(this.value.length==2)?this.value+='/':true">
                      <label for="">VALIDITY</label>
                    </div>
                    <div>
                      <input name="CVV" type="text" maxlength="3" onkeypress="return !isNaN(event.key)" required />
                      <label for="">CVV</label>
                    </div>
                  </div>
                  <div>
                    <input name="buyer's Email" type="text" required />
                    <label for="">Name</label>
                  </div>
                  <div class="buttom">
                    <a href=""> <button class="normal non-click" onclick="return false">PAY SECURELY &nbsp;
                      </button></a>
                  </div>
              </div>
              </form>
              <div class="bs-footer">
                <div class="total-footer">
                  Total:<span class="total"> $<%=total%></span>
                </div>

              </div>
            </div>
            <div class="location popup hidden">
              <div class="inf">
                <div class="bs-header">CREDIT CARDS</div>
                <form action="" method="post">
                  <div>
                    <input id="full-name" name="full name" type="text" />
                    <label for="">Full Name</label>
                  </div>
                  <div>
                    <input name="Address" type="text" required />
                    <label for="">Address</label>
                  </div>
                  <div class="row-input">
                    <div>
                      <input name="City" type="text" required placeholder="">
                      <label for="">State</label>
                    </div>
                    <div>
                      <input name=" zip-code" type="text" onkeypress="return !isNaN(event.key)" required />
                      <label for="">Zip Code</label>
                    </div>
                  </div>

                  <div class="bs-footer">
                    <div class="buttom">
                      <a href=""><button class="normal">SEND </button></a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="over-layout" onclick="hiddenCard_Location(this)"></div>
        </div>
        <%- include('../partials/scripting.ejs') %>
    </body>

    </html>