<%- include('../partials/head.ejs') -%>

  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

  <body>
    <%- include('../partials/flashMsg.ejs') -%>
      <nav class="user-view__menu">
        <ul class="side-nav">
          <li class="side-nav--active" onclick="changeElementContainer('user-view__content')">
            <i class="fa-solid fa-gear"></i>
            <a href="#" onclick="event.preventDefault()">
              Settings
            </a>
          </li>
          <li>
            <i class="fa-solid fa-cart-shopping shop-icon"></i>
            <a href="#" onclick="event.preventDefault()">
              Cart
            </a>
          </li>
          <li>
            <i class="fa-solid fa-heart love"></i>
            <a href="#" onclick="event.preventDefault()">
              Loves
            </a>
          </li>
        </ul>
      </nav>




      <div class="user-view__content hidden-sec">
        <div class="user-view__form-container">
          <h2 class="heading-secondary ma-bt-md">Your account settings</h2>
          <form class="form form-user-data">
            <div class="form__group">
              <span class="errors"></span>
              <label class="form__label" for="firstName">First name</label>
              <input autocomplete id="firstName" class="form__input" type="text" value=<%=user.firstName %>
              oninput="customizeInput(this)" onblur="customizeInput(this)">
            </div>
            <div class="form__group">
              <span class="errors"></span>
              <div class="loading"></div>
              <label class="form__label" for="lastName">Last name</label>
              <input autocomplete id="lastName" class="form__input" type="text" value=<%=user.lastName %>
              oninput="customizeInput(this)" onblur="customizeInput(this)">
            </div>
            <div class="form__group ma-bt-md checkerEmail">
              <span class="errors"></span>
              <span class="loading"></span>
              <label class="form__label" for="email">Email</label>
              <input autocomplete id="email" class="form__input" type="text" value=<%=user.email %>
              >
            </div>
            <div class="form__group form__photo-upload">
              <img class="form__user-photo" src=/imgs/users/<%=user.img %> alt="User photo">
              <input type="file" accept="image/*" class="form__upload" id="image-input" name="userImg"
                onchange="showImg(this)">
              <label for="image-input"> Choose Photo</label>
            </div>
            <div class="form__group right">
              <button class="btn btn--small btn--green">Save settings</button>
            </div>
          </form>
        </div>
        <hr class="line">
        <div class="user-view__form-container">
          <h2 class="heading-secondary ma-bt-md">Password change</h2>
          <form class="form form-user-settings">
            <div class="form__group">
              <span class="errors"></span>
              <label class="form__label" for="password-current">Current password</label>
              <input autocomplete id="password-current" class="form__input" type="password" placeholder="••••••••"
                oninput="checkUpdatePass(this)" onblur="checkUpdatePass(this)">
            </div>
            <div class="form__group">
              <span class="errors"></span>
              <label class="form__label" for="password">New password</label>
              <input autocomplete id="password" class="form__input" type="password" placeholder="••••••••"
                oninput="checkUpdatePass(this)" onblur="checkUpdatePass(this)">
            </div>
            <div class="form__group ma-bt-lg">
              <span class="errors"></span>
              <label class="form__label" for="password-confirm">Confirm password</label>
              <input autocomplete id="password-confirm" class="form__input" type="password" placeholder="••••••••"
                oninput="checkUpdatePass(this)" onblur="checkUpdatePass(this)">
            </div>
            <div class="form__group right">
              <button class="btn btn--small btn--green">Save password</button>
            </div>
          </form>
        </div>
      </div>

      <div class="cart-view__content">
        <div class="table-box special">
          <table width="">
            <thead>
              <tr>
                <td>remove</td>
                <td> image</td>
                <td> project</td>
                <td> price</td>
                <td> ountatiy</td>
                <td> subtotal</td>
              </tr>
            </thead>
            <tbody>
              <% for(let i=0;i<user.cart.products.length;i++){ %>
                <% const product=user.cart.products[i].product%>
                  <tr>
                    <td><i class="fa-solid fa-trash-can"></i>
                    </td>
                    <td><img width="100px" src="/<%=product.imgSrc %>" alt=""></td>
                    <td>cartoon astronaut <%=product.name %>
                    </td>
                    <td>
                      $<%=product.price %>
                    </td>

                    <td>
                      <div class="stepperInput">
                        <button class="button button--addOnLeft" onclick="minusInput()">-</button>
                        <input id="count-product" type="text" placeholder="Count" value="<%= user.cart.products[i].count %>"
                          class="input stepperInput__input">
                        <button class="button button--addOnRight" onclick="plusInput()">+</button>
                      </div>
                    </td>
                    <td class="sub-total">$<%=product.price*user.cart.products[i].count%>
                    </td>
                  </tr>
                  <% } %>

            </tbody>
          </table>


        </div>
      </div>



      <%- include('../partials/scripting.ejs') %>
        <script>
          updateUserData()
          updatePassword()
        </script>
  </body>

  </html>